# Rename this .env.dev to load into docker-compose
PG_HOST=pg
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=crowdboard
PG_AUTO_MIGRATION_ENABLED=false

HOSTNAME=https://app.crowdboard.localhost
