PORT=3000
HOSTNAME=https://app.crowdboard.localhost

AUTH_GOOGLE_CLIENT_ID=replace_me
AUTH_GOOGLE_CLIENT_SECRET=replace_me

PG_HOST=pg
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=crowdboard
PG_AUTO_MIGRATION_ENABLED=false
