NODE_ENV=development

APP_ROOT_DOMAIN=crowdboard.localhost
APP_WORKSPACE_ORIGIN=https://app.${APP_ROOT_DOMAIN}

SERVER_PORT=3001
SERVER_ORIGIN=https://api.${APP_ROOT_DOMAIN}
SERVER_ORIGIN_LOCALHOST=http://localhost:${SERVER_PORT}

AUTH_GOOGLE_CLIENT_ID=replace_me
AUTH_GOOGLE_CLIENT_SECRET=replace_me
AUTH_GOOGLE_REDIRECT_URI=${SERVER_ORIGIN_LOCALHOST}/auth/google/callback

PG_HOST=pg
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=crowdboard
PG_MIGRATIONS_ENABLED=false
