PORT=3001
NODE_ENV=development

AUTH_GOOGLE_CLIENT_ID=replace_me
AUTH_GOOGLE_CLIENT_SECRET=replace_me
AUTH_GOOGLE_REDIRECT_URI=http://localhost:${PORT}/social/google/cb

PG_HOST=pg
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=crowdboard
PG_MIGRATIONS_ENABLED=false
